.DS_Store

# IDE Files
#-------------------------
/nbproject/
.idea/*

.ipynb_checkpoints
.projectignore
amiryousefi_it.session
anaconda-project.yml
*.json
*.ipynb
config.ini
*.session
node_modules/
telegram/downloads/*.*
*.pyc

media/twit/*
media/twit/
