<div class="card">
    <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="160" xmlns="http://www.w3.org/2000/svg" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" role="img"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"/><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg> -->
    <!-- use fancybox  -->

    <div class="card-body">
        <h5 class="card-title">
            <a href="%">
                {{twit.company.name}}
            </a>
            
        </h5>
        <p class="card-text" >
            {{twit.description}}
        </p>
        <p class="card-text"><small class="text-muted">{{twit.created_on}}</small></p>
    </div>
    <!-- <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSxNUlvSKCK4HnDA4_ZnFphN4O6vj2DxrHNdw&usqp=CAU"
        alt="" width="100%" height="160"> -->
    <app-fancy-box
    [image]="twit.image" ></app-fancy-box>

</div>