

<div class="container">
   
            <div class="card-columns">
                        
                <div class="card">
                    <div class="card-title">sghl
                        <div class="card-body">
                            باشه

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">sghl
                        <div class="card-body">
                            باشه

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-title">sghl
                        <div class="card-body">
                            باشه

                        </div>
                    </div>
                </div>


            </div>


            <div class="card-columns" *ngFor="let d of pageTwit | paginate: { itemsPerPage: 100, currentPage: p,totalItems:countAllTwit }" >
                
                
                
              </div>
              <pagination-controls (pageChange)="pageChanged($event);p = $event" class="float-right"></pagination-controls>

            
</div>
   
